.App {
  text-align: center;
}

.navbar-item {
  text-decoration: none;
}

.input {
  width: 500px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: aquamarine;
  height: 100vh;
}

.main-body {
  border-radius: 5px;
  height: 100vh;
}

.card {
  margin: 20px 20px 0 20px;
  border-radius: 5px;
}

#done {
  color: rgb(42, 173, 64);
  background-color: rgb(236, 236, 236);
}

#pending {
  color: rgb(238, 255, 4);
  background-color: rgb(236, 236, 236);
}

#notdone {
  color: rgb(235, 0, 0);
  background-color: rgb(236, 236, 236);
}

.steps {
  display: flex;
  flex-wrap: wrap;
}

.steps .card {
  margin: 10px 10px 0 10px;
  border-radius: 5px;
}
.steps .card .card-content {
  background-color: rgb(235, 235, 235);
}

.card-footer{
  border: 8px;
  border-color: #000;
}